@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.inputs {
  background-color: #eaeaea;
  outline: none;
  border-radius: 7px;
  color: #7e7e7e;
  font-family: 'Montserrat', sans-serif;
}
.inputs:hover {
  outline-color: #3e64ff;
}
.btn {
  border-radius: 7px;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 16px;
  border: 0 none;
}
.btn-green {
  background: #4dd599;
}
@media screen and (min-width: 320px) {
  #app {
    background-color: #fff;
  }
  .background-login {
    height: 100vh;
    background-color: #3e64ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-login {
    display: flex;
    background-color: #fff;
    padding: 0.5em;
    margin: 0.8em;
    border-radius: 7px;
    text-align: center;
  }
  .panel .panel-default {
    padding-top: 5em;
  }
  .form-control {
    width: 18em;
  }
  .form-inputs p {
    padding: 1em 0;
  }
  .form-login button {
    width: 100%;
  }
  .container-form {
    margin: 1.5em 0;
  }
}
.navbar-default {
  background-color: #3e64ff;
  border-radius: 7px;
  margin: 0.4em;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
}
.logo-header {
  width: 100px;
  height: 30px;
  background-image: url("../images/logo-Mi-Expresion-cuenta-08.png");
  background-size: 100px 30px;
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-brand img {
  border-style: none;
}
.container-menu {
  margin: 0.5em 0.8em;
}
.container-menu h1 {
  text-align: center;
}
.container-menu .container-menu-one .container-item img {
  border-style: none;
}
.container-menu-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-menu-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
}
.container-menu-two .container-item {
  margin-right: 0.5em;
}
.container-item, .icon8 {
  width: 150px;
  height: 100px;
  border-radius: 7px;
  box-shadow: -1px 9px 9px -1px #c2bac2;
  background-color: transparent;
}
.icon-menu {
  width: 150px;
  height: 100px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-style: none;
}
.icon1 {
  background-image: url("../images/Icons_Modulo_1/icon1.svg");
}
.icon2 {
  background-image: url("../images/Icons_Modulo_1/icon2.svg");
}
.icon3 {
  background-image: url("../images/Icons_Modulo_1/icon3.svg");
}
.icon4 {
  background-image: url("../images/Icons_Modulo_1/icon4.svg");
}
.icon5 {
  background-image: url("../images/Icons_Modulo_1/determinantes1.svg");
}
.icon6 {
  background-image: url("../images/Icons_Modulo_1/determinantes2.svg");
}
.icon7 {
  background-image: url("../images/Icons_Modulo_1/determinantes3.svg");
}
.icon8 {
  background-image: url("/public/images/Logotipo_finish-02.png");
}
.subtitle-menu {
  padding: 0.5em;
  text-align: center;
  font-weight: bolder;
  margin-top: 1em 0;
}
