.navbar-default
    background-color: color_azul
    border-radius: border__radius
    margin: .4em
    & .navbar-toggle .icon-bar
        background-color: white
    & .navbar-toggle
        border-color: white
    & .navbar-brand
        color: white
        display: flex
        align-items: center
        justify-content: center
        border-style: none

.logo-header
    width: 100px
    height 30px
    background-image: url("../images/logo-Mi-Expresion-cuenta-08.png");
    background-size: 100px 30px
    background-repeat: no-repeat

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text
    color:white
.navbar-brand img
    border-style: none
