@media screen and (min-width: 320px)
    #app
        background-color: white
    .background-login
        height: 100vh;
        background-color: color_azul
        display: flex
        align-items: center
        justify-content: center
    .container-login
        display: flex
        background-color: white
        padding: padding__size
        margin: margin__size
        border-radius: border__radius
        text-align: center
    .panel .panel-default
        padding-top: 5em
    .form-control
        width: 18em;
    .form-inputs
        p
            padding: 1em 0
    .form-login
        button
            width: 100%
    .container-form
        margin: 1.5em 0

