.container-menu
    margin: .5em .8em
    & h1
        text-align: center
    & .container-menu-one .container-item img
        border-style: none
.container-menu-one
    display: flex
    align-items: center
    justify-content: center
.container-menu-two
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 5em 0
    & .container-item
        margin-right: .5em

.container-item
        width: 150px
        height 100px
        border-radius: border__radius
        box-shadow: -1px 9px 9px -1px rgba(194,186,194,1);
        background-color: transparent
.icon-menu
    width: 150px
    height 100px
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-style: none
.icon1
    background-image: url("../images/Icons_Modulo_1/icon1.svg");

.icon2
    background-image: url("../images/Icons_Modulo_1/icon2.svg");
.icon3
    background-image: url("../images/Icons_Modulo_1/icon3.svg");

.icon4
    background-image: url("../images/Icons_Modulo_1/icon4.svg");

.subtitle-menu
    padding: .5em
    text-align: center
    font-weight: bolder
    margin-top: 1em 0