body
    font-family: 'Montserrat', sans-serif;
.title
    font-size: size__titles
    font-weight: bold
    color:black
.inputs
    background-color: color_gris
    outline: none
    border-radius: border__radius
    color:color_gris_solido
    font-family: 'Montserrat', sans-serif
    &:hover
        outline-color:color_azul
.btn
    border-radius: border__radius
    padding: 6px 12px
    font-weight: bold
    font-size: size__btn
    border: 0 none
.btn-green
    background: color_verde
